# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/server/node_modules/
.idea/.gitignore
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/risk-projects.iml
.idea/vcs.xml
.idea/watcherTasks.xml
server/index.js
server/package-lock.json
server/package.json
webapp/build/
form-object-rest-spread/
webapp/node_modules
/webapp/node_modules/
webapp/src/App.css
webapp/src/App.css.map
webapp/src/common/colors.css
webapp/src/common/colors.css.map
webapp/src/index.css
webapp/src/index.css.map
webapp/src/risk-projects/risk-projects.css
webapp/src/risk-projects/risk-projects.css.map
